@media screen and (max-width:576px) {
    body {
        width: 500px;
        margin: 0 auto;
    }
    
    .nav-hamburger-menu {
        display: block;
        font-size: 1.5rem;
        color: rgb(255, 255, 255);
    }
    .navbar-wraper{
        width: 500px;
    }

    .nav-btn-container {
        display: none;
    }

    .healthy-container {
        flex-direction: column;
        width: 500px;
    }

    .healthy-img {
        position: static;
        margin-top: 33rem;
    }

    .video-tutorial {
        margin-top: 33rem;
    }

    .free-video {
        margin-top: 35rem;
    }

    .habit-container {
        margin-top: 0;
        width: 500px;
    }

    .fitness-image {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 7rem;
    }

    .run-container {
        flex-direction: column;
        margin-top: 55rem;
        padding-left: 3.2rem;
        width: 500px;
    }

    .run-description button {
        margin: 1.5rem 0rem;
        width: 24rem;
    }
    .bmi-calculator{
        width: 500px;
        margin-left: 1rem;
    }
    .bmi-calculator p{
        width: 500px;
    }
    .bmi-calculator-container{
        flex-direction: column;
        margin-left: 0;
    }
    .calculate-bmi-container{
        width: 500px;
    }
    .your-bmi-calculate{
        width: 500px;
    }
    /* .bmi-calculator-title{
        margin-left: 1rem;
    } */
    



    
}