@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background: rgb(0, 0, 0);

}

.container {
    max-width: 500px;
    margin: 0 auto;
}

/* navber style start here  */
.navbar-wraper {}

.navbar-main {
    display: flex;
    justify-content: space-between;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    color: white;
}

.logo {
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}

.nav-menu-btn {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

#btn-home {
    background: rgb(230, 83, 60);
    padding: 5px 20px;
    border-radius: 3rem;
}

.nav-btn-container {
    cursor: pointer;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}

.nav-hamburger-menu {
    display: none;
}

/* navbar style end here  */

/* shape & stay healthy area style start here */
.healthy-container {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    display: flex;
    align-items: center;
}

.healthy-description {
    position: absolute;
    width: 500px;
    height: 440px;
    top: 199px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

.healthy-description h1 {
    color: rgba(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    line-height: 120%;
}

.shape {
    font-family: Miama, sans-serif;
    font-style: italic;
}

.healthy-description p {
    color: rgba(255, 255, 255, 0.5);
    width: 32.5rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-align: left;
    letter-spacing: 0.5px;
    margin: 1.75rem 0;
}

.btn-primary {
    border-radius: 3rem;
    background: rgb(230, 83, 60);
    border: none;
    padding: 1rem 2.5rem 1rem 2.5rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
}

.btn-download {
    color: white;
    background: rgb(34, 34, 34);
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem 2.5rem 1rem 2.5rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 3rem;
}

.healthy-img {
    position: absolute;
    width: 21.8rem;
    height: 36.25rem;
    left: 54.81rem;
    top: 8.44rem;
}

.video-tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(48, 48, 48, 0.54);
    color: white;
    width: max-content;
    width: 206px;
    height: 96px;
    border-radius: 10px;
    top: 80%;
    position: absolute;
}

.circle {
    background: rgb(230, 83, 60);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

.video-number {
    font-size: 1.5rem;
    font-weight: 900;
}

.video-text {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

.free-video {
    background: rgba(48, 48, 48, 0.54);
    color: white;
    width: max-content;
    width: 180px;
    height: 80px;
    font-size: 2rem;
    border-radius: 10px;
    top: 25%;
    left: 68%;
    position: absolute;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.free-video-text {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

/* shape & stay healthy area style end here */

/* Change your habits style start here  */
.habit-container {
    margin-top: 660px;
    width: 1044px;
    height: 452px;
}

.your-habit-description {
    text-align: center;
}

.your-habit-description h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.your-habit-description p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin-top: 1rem;
}

.fitness-description {
    text-align: center;
    width: 231px;
    height: 64px;
    margin-top: 1.2rem;
}

.fitness-container {
    margin-top: 3.5rem;
    margin-left: 2rem;
}

.fitness-image {
    width: 231px;
    height: 274px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    text-align: center;
}
.image-container img{ 
    border: 3px solid rgba(255, 255, 255, 0.5);
}
.fitness-image img {
    border-radius: 50%;
    left: -11.5px;
}

.fitness-image {
    text-align: center;
}

.fitness-description h3 {
    color: rgba(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 120%;
}

.fitness-description p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;

}

/* Change your habits style end here  */

/* Run an Extra Mile area style start here */
.run-container {
    display: flex;
    margin-top: 3.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    padding: 1.5rem;
}

.run-description {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.run-description h1 {
    font-size: 3rem;
    color: rgba(255, 255, 255);
    font-weight: 900;
    width: 25rem;
}

.run-description p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    width: 23rem;
    margin-top: 0.8rem;
}

.run-description button {
    margin-top: 1.5rem;
    padding: 1rem 2.8rem 1rem 2.8rem;
}

.run-img img {
    margin-top: 0.5rem;
    height: 250px;
    border-radius: 1rem;

}

/* Run an Extra Mile area style end here */

/* BMI calculator style start here  */
.bmi-section-container {
    padding: 1.5rem;
}

.bmi-calculator {
    margin: 2.5rem 0rem 2.5rem 15rem;
}

.bmi-calculator h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.bmi-calculator p {
    color: rgb(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    width: 40rem;
}

.calculate-bmi-container {
    width: 1340px;
    margin-top: 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    padding-left: 9rem;
    padding-top: 2rem;
    padding-right: 9rem;
}

.bmi-calculator-container {
    display: flex;
}

.bmi-container-description table {
    width: 310px;
    margin-top: 2rem;
    padding: 1rem;
}

.bmi-container-description h3 {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.bmi-container-description p {
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.2rem;
}

.bmi-container-description table tr th {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    border: 1px solid rgb(255, 255, 255, 0.5);
    padding: 0.3rem;

}

.bmi-container-description table tr td {
    color: rgb(255, 255, 255, 0.5);
    font-size: 0.9;
    font-weight: 400;
    border: 1px solid rgb(255, 255, 255, 0.5);
    gap: 0.5px;
    padding: 0.5rem;
}

.bmi-container-description {
    width: 560px;
}

.bmi-container-description p {
    font-size: 0.9rem;
    color: rgb(255, 255, 255, 0.5);
    font-weight: 400;
}

.bmi-input {}

.input-1 {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    margin-top: 1.5rem;
    width: 250px;
    height: 48px;
    padding-left: 0.8rem;
}

.bmi-input1 {
    /* width: 85%; */
}

.bmi-input2 {
    /* display: flex;
    flex-direction: column; */
}

.select-1 {
    /* width: 42%; */
}

.select-2 {
    width: 500px;
}

.btn-primary {
    font-size: 1rem;
    margin-top: 2rem;
}

/* BMI calculator style end here  */

/* Our services area style start here  */
.service-header {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
    color: rgba(255, 255, 255);

}

.services-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 70px;
    margin-right: 70px;
}

.service1 {
    width: 350px;
    border: 10px;
    margin: 20px;
    /* height: 600px; */
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 8px 8px 16px rgb(17, 16, 16);
}

.service-img img {
    width: 100%;
    border-radius: 5px;
}

.badge {
    position: relative;
}

.badge-img {
    width: 70px;
    top: -30px;
    left: 85%;
    position: absolute;
}

.service-description {
    padding: 15px;
    line-height: .5;
}

.fitness {
    color: rgba(255, 255, 255, 0.6);
}

.services-footer {
    display: flex;
    margin-top: 0px;
    margin-right: 10px;
    justify-content: space-between;
    margin-top: -20px;
}

.price {
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    font-weight: 800;
    padding: 1rem 0;
}

.price-btn {
    color: red;
    font-size: 1rem;
    padding: 1rem 0;
}

.cardio {
    font-size: 1.9;
    padding: 1rem 0;
    color: rgba(255, 255, 255, 0.6);
}

/* Our services area style end here  */

/* Meet our team style start here  */
.team-image-container{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.meet-our-team-description {
    text-align: center;
    margin-top: 3rem;
}

.meet-our-team-title {
    color: rgba(255, 255, 255);
    font-size: 2rem;
}

.meet-our-team-description p {
    color: rgba(255, 255, 255, 0.6);
}

.team-image {
    position: relative;
    color: white;
}
.team-image img{
    width: 21rem;
    height: 19rem;
    border-radius: 1.5rem;
    padding: 1rem;
}

.bottom-left {
    position: absolute;
    bottom: 2.5rem;
    left: 1.5rem;
}

/* Meet our team style end here  */

/* Footer section style start here  */
.footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    margin-top: 4rem;
}

.footer-description {
    margin-left: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 0;
}
.footer-fitness{
    width: 25rem;
}
.footer-fitness h1 {
    font-size: 4.38rem;
    font-style: italic;
    color: rgb(230, 83, 60);
}

.footer-fitness p {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    
}
.footer-get-started{
    width: 18.75rem;
    margin-left: 5.5rem;
    line-height: 2rem;
}
.footer-get-started h3 {
    font-size: 1.5rem;
}

.footer-get-started p {
    margin: 8px 0;
    color: rgba(255, 255, 255, 0.5);
}

.footer hr {
    width: 80%;
    margin-left: 130px;
}

.footer small {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
/* Footer section style end here  */